.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  text-align: center;
  list-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  font-size: 1.5rem;
  background-color: rgba(22, 87, 184, 0.897);
  color: white;
}

.NavBar li{
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  padding-left:2rem;
  padding-right:2rem;
}


nav {
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

nav li {
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  padding-left:2rem;
  padding-right:2rem;
  vertical-align: middle;
  font-weight: bold;
}

section {
  display: flex;
  justify-items: center;
  margin-bottom:2rem;
  margin-right: 10%;
  margin-left:10%;
}

article {
  flex:1;
  text-align: center;
}

